.Card {
	padding: 10px;
	border: 1px solid gray;
	border-radius: 15px;
	overflow: hidden;
	width: 320px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	list-style: none;
	p {
		margin: 0;
	}
}

.title {
	margin: 0;
}
